@model IEnumerable<Prova.Models.Faixa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (@Model.Any())
{

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Grau</th>
             

            </tr>
        </thead>
        <tbody>
            @foreach (var faixas in Model)
            {

                <tr>
                    <td>@faixas.Id</td>
                    <td>@Html.ActionLink(@faixas.Nome, "Details", new { faixas.Id })</td>
                    <td>@faixas.Grau</td>
                  
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
   
}